

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00a1cc; /* Match the blue background */
  padding: 3.125rem; /* 50px to rem */
  height: 100vh; /* Full screen height */
}

.about-content {
  display: flex;
  align-items: center;
  max-width: 62.5rem; /* 1000px to rem */
  color: white;
}

.about-image {
  max-width: 18.75rem; /* 300px to rem */
  margin-right: 1.875rem; /* 30px to rem */
}

.about-text {
  max-width: 600px;
  margin-left: 0.2rem;
}

.about-text h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 18px;
  line-height: 1.8;
  text-align: justify; /* Added to justify the content */
}

.about-text strong {
  font-weight: bold;
}


