body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .App{
    background-color:#00A6D2 ;
    z-index: 20;

  }
  .Background {
    background:url('Sea.png') no-repeat center center ;
    background-size: cover;
    z-index: 30;
    /* width: 100vh; */
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
  }