@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: rgba(0,52,138);
  color: white;
}
@font-face {
  font-family: 'ArgentumSans';
  src: url('./Fonts/ArgentumSans-Medium.ttf');
}